<div class="container">
    <div class="row mt-5">
        <div class="col">
          <form [formGroup]="bookSlotForm">
            <div class="card">
              <div class="card-header pt-3 bg-secondary text-white">
                <h5>Book Slot</h5>
              </div>
              <div class="card-body py-4 px-5">
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">First Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="first_name" [ngClass]="{'is-invalid': submitted && this.f.first_name.errors}"
                           placeholder="Enter first name" autocomplete="off">
                    <div *ngIf="submitted && this.f.first_name.errors" class="invalid-feedback">
                      <div *ngIf="this.f.first_name.errors?.required">This field is required</div>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">Last Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="last_name" [ngClass]="{'is-invalid': submitted && this.f.last_name.errors}"
                           placeholder="Enter last name" autocomplete="off">
                    <div *ngIf="submitted && this.f.last_name.errors" class="invalid-feedback">
                      <div *ngIf="this.f.last_name.errors?.required">This field is required</div>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label class="col-sm-2 col-form-label">Phone Number</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="phn_name" [ngClass]="{'is-invalid': submitted && this.f.phn_name.errors}"
                           placeholder="Enter phone number" (keypress)="numberOnly($event)" maxlength="10" autocomplete="off">
                    <div *ngIf="submitted && this.f.phn_name.errors" class="invalid-feedback">
                      <div *ngIf="this.f.phn_name.errors?.required">This field is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-top py-2 d-md-flex justify-content-md-end px-3">
                <button class="btn btn-outline-primary me-md-3" type="button" (click)="submitData()">Submit</button>
                <button class="btn btn-outline-secondary" type="button" (click)="resetSlotForm()">Cancel</button>
              </div>
            </div>
          </form>

        </div>

    </div>
</div>
