<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="card">
                <div class="card-header pt-3 bg-secondary text-white">
                    <h5>Book Slot</h5>
                </div>
                <div class="card-body py-4 px-5">
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter first name" autocomplete="off">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter last name" autocomplete="off">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Phone Number</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Enter phone number" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="border-top py-2 d-md-flex justify-content-md-end px-3">
                    <button class="btn btn-outline-primary me-md-3" type="button">Submit</button>
                    <button class="btn btn-outline-secondary" type="button">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>
