<div class="container">
    <div class="row pb-5 mt-5">
        <div class="grid-container">
          <ng-container *ngFor="let slot of (bookingList | async)">
              <div class="grid-items card mb-3" [ngClass]="{'bg-danger': slot.is_booked}" (click)="bookSlot(slot.id)">
                <h6 class="border-bottom py-2 text-center">{{ slot?.timing }}</h6>
                <div class="card-body">
                  <h4 class="text-center">{{ slot?.slot }}</h4>
                </div>
              </div>
          </ng-container>

        </div>
    </div>
</div>
